@mixin h1 {
  font-size: clamp(1.5625rem, 0.875rem + 3.4375vw, 5rem);
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

@mixin h2 {
  color: var(--head);
  font-size: clamp(1.875rem, 1.5625rem + 1.5625vw, 3.4375rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h3 {
  font-size: clamp(1.5625rem, 1.3125rem + 1.25vw, 2.8125rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h4 {
  font-size: clamp(1.375rem, 1.275rem + 0.5vw, 1.875rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h5 {
  font-size: clamp(1.4375rem, 1.4125rem + 0.125vw, 1.5625rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h6 {
  font-size: clamp(1.125rem, 0.975rem + 0.75vw, 1.875rem);
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
}

@mixin menu {
  font-size: clamp(1.125rem, 1rem + 0.625vw, 1.75rem);
  font-weight: 900;
  line-height: 100%;
}

@mixin p1 {
  font-size: clamp(1.25rem, 1rem + 1.25vw, 2.5rem);
  line-height: 100%;
  font-weight: 700;
}

@mixin p2 {
  font-weight: 500;
  font-size: 16px;
}

@mixin p3 {
  font-size: clamp(1rem, 0.825rem + 0.875vw, 1.875rem);
  line-height: 100%;
  font-weight: 600;
}