@mixin h1 {
  /* font-size: 56px; */
  font-size: clamp(1.3125rem, 0.875rem + 2.1875vw, 3.5rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h2 {
  color: var(--head);
  /* font-size: 40px;*/
  font-size: clamp(1.875rem, 1.75rem + 0.625vw, 2.5rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h3 {
  /* font-size: 35px;*/
  font-size: clamp(1.5625rem, 1.4375rem + 0.625vw, 2.1875rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h4 {
  /* font-size: 30px; */
  font-size: clamp(1.375rem, 1.275rem + 0.5vw, 1.875rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h5 {
  /* font-size: 25px; */
  font-size: clamp(1.4375rem, 1.4125rem + 0.125vw, 1.5625rem);
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin h6 {
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

@mixin menu {
  font-size: 18px;
  font-weight: 900;
  line-height: 100%;
}

@mixin p1 {

  font-weight: 600;
}