@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-ExtraBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded-Black.ttf');
  font-weight: 900;
  font-style: normal;
}