@use "variables" as *;
@use "resets";
@use 'primeicons/primeicons.css';

body {
  background-color: var(--card);
  width: 100%;
  margin-inline: auto;
  overflow-x: hidden;
  position: relative;
}

* {
  font-family: 'Unbounded', sans-serif;
  font-weight: 400;
  //color: var(--head);
}

h1 {
  color: var(--head);
}

.content-block {
  padding: 40px 0;
}

main {
  min-height: 83dvh;
}

.p-popover {
  margin-top: 10px !important;
  background: var(--card) !important;
  padding: 30px;
  border-radius: 20px !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px !important;

  &:after,
  &:before {
    opacity: 0;
  }

  .maps-list {
    &__item {
      @include p3;
      color: var(--head);
      cursor: pointer;

      &.active {
        color: var(--primary);
      }
    }
  }
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.swiper-slide img {
  max-width: 100%;
}

.p-drawer {
  background: var(--card) !important;
  border: none !important;
  padding: 20px;
  position: relative;

  &-header {
    .p-button {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 30px !important;
      height: 30px !important;
      border: 1px solid var(--background-light) !important;
      border-radius: 50%;
      transition: background 0.4s ease-out;

      &:hover {
        background: var(--primary) !important;


        svg {
          color: var(--card);
        }
      }
    }
  }
}

/** ========= MEDIA QUERIES ========= **/
@media (max-width: 520px) {
  .content-block {
    padding: 30px 0;
  }
}