:root {
  --primary: #00ADFF;
  --hover: #00386C;
  --secondary: #FF8204;
  --card: #fff;
  --head: #1B3A6A;
  --background: #b3e4ff;
  --background-light: #ebf6ff;
  --color-light: rgba(27, 58, 106, 0.5);
}