:root {
  --primary: #0e95d6;
  --hover: #00386c;
  --secondary: #e1780e;
  --card: #fff;
  --head: #113060;
  --background: #a1c2d4;
  --background-light: #ebf6ff;
  --color-light: rgb(27 58 106 / 30%);
}